@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Righteous';
    src: url('/fonts/righteous/Righteous-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }